* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-align:center;
    
    
}
body{
    background-image: linear-gradient(#99ffff, white);
    font-size:15px;
}

.header{
    width:100%;
    margin:0 5px;
}
.header h3{
    padding:5px;
}
.header p{
    padding:3px;
    text-align:left;
    margin:0 20px;
}
.container{
 display:flex;

 flex-direction:row;
 flex-wrap:wrap;
 justify-content:center;
 align-items:space-between;
 
 
 
}
.box{
 flex-basis:40%;

 padding:1em;
 border:1px solid grey;
 margin:2px;
 background-color:#f2f2f2;
 border-radius:5px;
}
.content{
 display:flex;
 flex-direction:column;
 align-items:flex-start;
}
.separator{
 clear:both;
}
img{
    max-width:100%;
    
}
.titleheader{
    padding:2em 1em;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    background-image: url("images/watercolor.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}



  @media screen and (min-width: 480px){
    
    .header {
        float:left;
        border:1px solid grey;
        width:20%;
        padding:1em;
        margin:2em;
        height:auto;
        overflow:auto;
    }
    .container{
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        justify-content:center;
        align-items:flex-start;
        border:1px solid grey;
        margin:1em;
        background-image: linear-gradient(#ffb3ff,white);
        
    }
    #noborder1{
        border:none;
        background-color:transparent;
        flex-basis:30%;
    }
    
    .box{
        flex-basis:25%;
        justify-content:center;
        align-items:center;
        padding:1em;
        margin-left:5px;
        background-color:#f2f2f2;
    }
    .content{
        display:flex;
        
        border-radius: 5px;
    }
    .separator{
        clear:both;
    }
    #box4{
        flex-basis:30%;
    }
    .titleheader{
        padding:2em 1em;
        box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
        background-image: url("images/watercolor.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    #special{
        display:flex;
        flex-direction:row;
        justify-content:center;
        flex-wrap:wrap;
        border:none;
        background-color:transparent;
        
    }
    .imground{
        border-radius: 50%;
    }
    #special1{
        border-radius:50%;
        margin-top:1em;
    }
    

  }

  
       